ion-card.rural-sign-card {
    --background: var(--ion-color-warning);
    --color: var(--ion-color-black);
    border: 3px solid black;
}

div.rural-sign-card--container-x {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 1.5rem;
}

div.rural-sign-card--route {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border: 3px solid black;
    
    font-weight: bold;
    border-radius: 5px;
}

ion-card.fuel-card {
    --background: var(--ion-color-success);
    --color: var(--ion-color-black);
}

div.fuel-card--price {
    font-family: '14 Segment';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    padding-top: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--ion-color-danger);
    background-color: black;
}

ion-card.urban-sign-card {
    --background: var(--ion-color-primary);
    --color: white;
    border: 3px solid white;
    font-size: 1.5rem;
}

div.urban-sign-card--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

div.urban-sign-card--route {
    background-color: var(--ion-color-warning);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border: 3px solid black;
    
    font-weight: bold;
    border-radius: 5px;
}

div.urban-sign-card--places {
    width: 100%;
    padding: 10px;
    padding-bottom: 0;
}

div.urban-sign-card--place {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

div.speed-sign {
    background-color: var(--ion-color-warning);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100rem;
    border: 5px solid var(--ion-color-danger);
    padding: 5px;
    /* padding-left: 6px; */

    width: 2em;
    aspect-ratio: 1/1;

    font-size: 2em;
    font-weight: bold;
}

ion-card-content.no-padding {
    padding-bottom: 0 !important;
}